<h1>{{title}}</h1>
<nav>
    <a [routerLink]="['Dashboard']">Dashboard</a>
    <a [routerLink]="['Heroes']">Heroes</a>
    <a [routerLink]="['HeroLists']">List</a>
    <a [routerLink]="['Pipes']">Pipes</a>
</nav>
<router-outlet></router-outlet>